/* import fonts */
@import url(../styles/fonts.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #F9F9F9;
    font-family: vazir;
}

.loader-bg{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: whitesmoke;
    animation: fadein 1s linear forwards;
    animation-delay: 3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader{
    position: absolute;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader::after, .loader::before{
    content: '';
    border: 6px solid #007bff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    animation: loader 2s linear infinite;
    opacity: 1;
}

.loader::before{
    animation-delay: .5s;
}


/* container section */
.container{
    border: none;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 70px;
    position: fixed;
    right: 0;
    left: 0;
    transition: 0.3s;
    top: 0;
}

.navScrolled{
    box-shadow: 0 .5px 10px 0 gray;
    background-color: rgba(255, 255, 255, 0.9);
}

.navigation a{
    color: #F9F9F9;
}

.menu-list{
    display: flex;
    list-style: none;
}

.menu-item{
    padding: 8px 20px;
}

.menu-item a{
    text-decoration: none;
    color: #007bff;
    font-size: 1.2rem;
    padding: 3px 8px;
    transition: .3s;
}

.menu-item a:hover{
    color: crimson;
}

.brand{
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 2px;
}

.brand span{
    color: crimson;
}

/* hero section */
.hero{
    margin-top: 100px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.hero img{
    width: 40%;
    padding: 10px 25px;
}

.bio{
    margin-left: auto;
    padding-right: 50px;
}

.bio h1{
    font-size: 50px;
    color: #293651;
    animation: bio 2s forwards;
}

.bio h2{
    font-size: 40px;
    color: #293651;
}

.bio h3{
    font-size: 25px;
    margin: 15px 0;
    color: #646f87;
}

.bio .resume{
   background-color: #007bff; 
   padding: 5px 15px;
   text-decoration: none;
   color: #F9F9F9;
   border-radius: 25px;
   margin-top: 150px;
   font-size: 20px;
}


.header_social{
    display: flex;
    flex-direction: column;
    width: 50px;
    list-style: none;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 0 5px 1px gray;
    padding: 15px 5px;
    margin-right: 70px;
}

.header_social a i{
    color: gray;
    font-size: 30px;
    margin: 3px auto;
}

.header_social a i:hover{
    transform: scale(1.05);
    color: #007bff;
}
/* end hero section */

/* start skill section */
.skill{
    display: flex;
}

.skill img{
    width: 40%;
    padding: 20px;
}

.list_skill{
    width: 100%;
    margin: 40px;
    color: #293651;
}

.skill_item{
    margin-top: 25px;
}

.skill_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill_bar{
    background-color:#646f87;
    border-radius: 15px;
    margin-left: 15px;
    margin-top: 10px;
}

.skill_bar .progress_line{
    background-color: #007bff;
    border-radius: 15px 0 0 15px;
}
/* end skill section */

/* keyframes */

@keyframes loader {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes fadein {
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes bio {
    0%
}